// shared
@import "./shared/variables";
@import "./shared/normalize";
@import "./shared/mixins";
@import './shared/animations';

// blocks
@import "./blocks/body";
@import "./blocks/header";
@import "./blocks/slider";
@import './blocks/popular';
@import './blocks/rooms';
@import './blocks/story';
@import './blocks/blog';
@import './blocks/blog-card';
@import './blocks/footer';
@import './blocks/products';
@import './blocks/products-card';
@import './blocks/products-filter';
@import './blocks/p-details';
@import './blocks/contact';
@import './blocks/blog-page';
@import './blocks/all-blogs';
@import './blocks/about';