//sizes
$full-width: 100%;
$medium-width: 80%;
$half-width: 50%;

//paddings
$padding-xs: 0.2rem;
$padding-s: 0.4rem;
$padding-m: 0.8rem;
$padding-l: 0.9rem;
$padding-xl: 1rem;
$padding-xxl: 1.5rem;
$padding-xxxl: 2rem;

//margins
$margin-xs: 4px;
$margin-s: 8px;
$margin-m: 12px;
$margin-l: 14px;
$margin-xl: 16px;
$margin-xxl: 32px;
$margin-xxxl: 64px;

// header logo size
$logo-width: 100px;

// icons size
$icon-size-m: 20px;
$icon-size-l: 40px;
$icon-size-xl: 60px;

// background colors
$color-bg-black: #262626;
$color-bg-gray: #777;
$color-bg-lightgray: #ccc;
$color-bg-white: #eeeeee;
$color-bg-purewhite: #fff;
$color-bg-highlight: #ffbb00;
$color-bg-header: #262626dd;


// text or icon color
$color-black: #262626;
$color-gray: #777;
$color-white: #eee;
$color-purewhite: #fff;
$color-highlight: #ffbb00;
$color-lightgray: #ccc;

// transitions time

$transition-short: 0.5s;
$transition-medium: 0.8s;
$transition-long: 1s;



$transition-medium: 0.8s;
$color-highlight: #ffbb00;
$color-black: #262626;
$color-white: #eee;
$margin-xl: 16px;